@{
    ViewBag.Title = "CCG App - Jose DeLavalle";
}

<div id="home">
    
    @{Html.RenderPartial("Jumbotron");}
    
    <div id="content">
        @{Html.RenderPartial("TabMenu");}
        @{Html.RenderPartial("NewsSection");}
        @{Html.RenderPartial("CaseStudiesSection");}
        @{Html.RenderPartial("LocationsSection");}
        
    </div>
   
    <md-button class="back-to-top margin-0 margin-top-10 md-raised md-button md-ink-ripple" aria-label="Scroll To Top" ng-click="scrollTo('#home')">
        <span class="fa fa-chevron-up"></span>
    </md-button>
    
</div>
