<div ng-if="showcard==1 && topics" class="card-section" ng-class="{'padding-0': isMobile}">
    <div class="sticky-section" ng-class="{'position-relative': !sticky}">
        <div google-chart ng-if="myTopicChartObject.data.rows.length > 0" chart="myTopicChartObject" style="height:{{chartHeight}}; width:100%;"></div>
        <div class="row filter-controls">
            <div class="col-xs-12 col-md-4">
                <md-input-container class="md-block">
                    <label>Filter articles</label>
                    <input ng-model="topicNameFilter">
                </md-input-container>
            </div>
            <div class="col-xs-6 col-md-4">
                <md-select ng-model="topicCategoryFilter" ng-change="catSelectionChanged()" placeholder="Publication Date" multiple>
                    <md-optgroup label="Publication Date">
                        <md-option value="All">All</md-option>
                        <md-option ng-repeat="cat in topicCategories track by $index" value="{{cat}}">{{cat}}</md-option>
                    </md-optgroup>
                </md-select>
            </div>
            <div class="col-xs-6 col-md-4">
                <md-select ng-model="topicSortBy" placeholder="Sort Items">
                    <md-optgroup label="Sort Items">
                        <md-option value="Date">Date Ascending</md-option>
                        <md-option value="-Date">Date Descending</md-option>
                        <md-option value="Title">Title Ascending</md-option>
                        <md-option value="-Title">Title Decending</md-option>
                        <md-option value="Description">Description Ascending</md-option>
                        <md-option value="-Description">Description Decending</md-option>
                    </md-optgroup>
                </md-select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-if="!searching && !showing && topicNameFilter">
                <h1 class="text-center">No Records Found when filtering by {{topicNameFilter}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 margin-top-10" ng-show="showing != null">
                <label>Showing {{showing}} of {{topicsLimit}}</label>
            </div>
            <div class="col-xs-12 col-md-4">
                <div ng-show="topics && topicsLimit < topics.length" class="text-center">
                    <md-button ng-click="getMore()" class="margin-left-0">
                        <span class="fa fa-plus"></span>
                        <span>Load More Articles</span>
                    </md-button>
                </div>
            </div>
        </div>
        <md-button class="sticky-toggle margin-0 md-raised md-button md-ink-ripple" ng-class="{'sticky-off': !sticky}" aria-label="Fixed Controls" ng-init="sticky=true" ng-click="sticky=!sticky">
            <div class="fa fa-2x fa-thumb-tack"></div>
        </md-button>

    </div>
    <div class="row cards">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-class="{'padding-0':isMobile}" ng-repeat="item in filterTopic(topicNameFilter, topicCategoryFilter) | orderBy: topicSortBy | limitTo: topicsLimit">
            <news-card itemid="item"></news-card>
        </div>
    </div>
    <div ng-show="(topics && topicsLimit < topics.length) && (!sticky || isMobile)" class="text-center">
        <md-button ng-click="getMore()" class="margin-left-0">
            <span class="fa fa-plus"></span>
            <span>Load More Articles ({{showing}} / {{topicsLimit}})</span>
        </md-button>
    </div>
</div>